---

---

<section class="flex flex-col items-center justify-center mb-5 dark:bg-gray-900 dark:border-gray-700 " id="gradiente">
    <div class=" p-6 max-w-lg text-center">
      <h1 class="text-2xl font-bold text-gray-900 mb-4 dark:text-white">¿Necesitas enviar Encomiendas o Comprar Online?</h1>
      <p class="text-xl text-gray-700 mb-6 dark:text-white">Miami – Managua | Managua – Miami</p>
      <p class="text-lg text-gray-600 dark:text-white">¡Nosotros te ayudamos!</p>
    </div>
</section>

