---
import { Image } from 'astro:assets';
import Logo from '../images/whatsapp.svg';
---

<a href="https://api.whatsapp.com/send?phone=50586616696" class="whatsapp-button" target="_blank" rel="noopener noreferrer">
    <Image class="h-8 w-8" src={Logo} alt="Logo">
</a>

<style>
    .whatsapp-button {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background-color: #25d366;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  
    .whatsapp-button:hover {
      transform: scale(1.1);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
  
    .whatsapp-button img {
      width: 30px;
      height: 30px;
    }
</style>
  